@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p, nav, ul, li, a {
  color: blue;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

nav ul li a {
  color: blue !important;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

p {
  font-size: 1em;
}

.text-bold {
  font-weight: bold;
}

.text-lighter {
  font-weight: lighter;
}

.text-uppercase {
  text-transform: uppercase;
}

.footer {
  font-size: 2em;
  position: fixed;
  bottom: 0;
  left: -16px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.footer h2 {
  margin-right: 16px;
}

a:active {
  color: white;
  background-color: blue;
}
a:hover {
  color: white;
  background-color: blue;
}

.menu {
  list-style: none;
  text-decoration: none;
  width: 100vw;
  padding-top: 1px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.menu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu li a {
  font-size: 2em;
  list-style: none;
  text-decoration: none;
}
.menu li a:hover {
  color: white !important;
  background-color: blue;
}
.menu li a:active {
  color: white !important;
  background-color: blue;
}
.menu .menu ul li a {
  color: blue;
}
.menu h1 h2 h3 p {
  color: blue;
}

.section-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
}

.video-background {
  position: absolute;
  width: 100vw;
  height: auto;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.container-proyect-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100vh;
}

.item-proyect-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border: 4px;
  border-bottom: 2px solid blue;
  border-color: blue;
}
.item-proyect-list img {
  width: 4%;
}
.item-proyect-list h2 {
  flex-grow: 1;
  font-weight: bold;
}
.item-proyect-list h2:hover {
  color: white !important;
  background-color: blue;
}
.item-proyect-list p {
  width: auto;
  flex-grow: 2;
}

.project-title {
  width: 40vw;
}

header img {
  width: 100%;
}

main img {
  width: 25%;
}

.container-proyect {
  height: 80vh;
  padding-top: 32px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-proyect h1 {
  font-size: 5em;
}
.container-proyect p {
  font-size: 1.5em;
}

.main-text-proyect {
  width: 70vw;
  padding-left: 16px;
}
.main-text-proyect p {
  width: 70vw;
  font-size: 2em;
  padding-bottom: 16px;
  padding-right: 32px;
}

.small-text-proyect {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-proyect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  padding-top: 40px;
  padding-bottom: 4px;
  width: 100%;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 4px;
  padding-right: 4px;
}

.gallery-item {
  width: 100%;
  height: 100%;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-item-3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery-item-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.extra-padding {
  padding-top: 48px;
}

.gallery-campus {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-left: 4px;
  padding-right: 4px;
}

.container-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  width: 98vw;
}
.container-bio h3 {
  padding-bottom: 1em;
}

.main-text {
  width: 50vw;
  padding-left: 24px;
}
.main-text p {
  width: 50vw;
  font-size: 2em;
  padding-bottom: 16px;
  padding-right: 32px;
}

.small-text p {
  padding-bottom: 24px;
}

@media (max-width: 990px) {
  .main-text p {
    padding-right: 64px;
  }
  .main-text-proyect p {
    padding-right: 64px;
  }
}
@media (max-width: 800px) {
  .menu ul,
  .menu li,
  .menu a {
    font-size: 1em;
  }
  h1 {
    font-size: 3em;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 4px;
  }
  .footer h2 {
    font-size: 1.5em;
  }
  .footer ul,
  .footer li,
  .footer a {
    display: none;
  }
  .container-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
  }
  .container-bio p {
    width: 100vw;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 16px;
  }
  .container-bio h3 {
    padding-bottom: 8px;
  }
  .container-bio img {
    width: 100vw;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 16px;
  }
  .main-text {
    width: 100vw;
    padding-left: 4px;
    padding-right: 4px;
  }
  .main-text p {
    width: 100vw;
    font-size: 1.4em;
    padding-bottom: 16px;
    padding-right: 4px;
  }
  .item-proyect-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
    border: 4px;
    border-bottom: 2px solid blue;
    border-color: blue;
  }
  .item-proyect-list img {
    display: none;
    width: 4%;
  }
  .item-proyect-list h2 {
    font-size: 1.5em;
  }
  .item-proyect-list p {
    font-size: 0.8em;
  }
  .container-proyect {
    height: 80vh;
    padding-top: 24px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-proyect h1 {
    font-size: 3em;
  }
  .container-proyect p {
    font-size: 1em;
  }
  .main-text-proyect {
    width: 100vw;
    padding-left: 8px;
  }
  .main-text-proyect p {
    width: 100%;
    font-size: 1.4em;
    padding-bottom: 16px;
    padding-right: 4px;
  }
  .small-text-proyect {
    width: 100%;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text-proyect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 4px;
    width: 100%;
  }
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .gallery-item {
    width: 100%;
    height: 100%;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gallery-item-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .gallery-item-3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .extra-padding {
    padding-top: 48px;
  }
  .gallery-campus {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

/*# sourceMappingURL=main.css.map */
