@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

$mainFont:'Space Grotesk', sans-serif;

$light:300;
$regular:400;
$bold:700;

$mainColor: blue;
$secondaryColor: white;

$xxsm: 0.8em;
$xsm: 1em;
$sm:1.4em; 
$md: 1.5em;
$lg: 2em;
$xlg: 3em;
$xxlg: 4em;
$xxxlg: 5em;


@mixin flex($direc,$justy,$align){
    display: flex;
    flex-direction: $direc;
    justify-content: $justy;
    align-items: $align;
}

*{
    font-family: $mainFont;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}


h1, h2, h3, p, nav, ul, li, a {
    color: $mainColor;
    list-style: none;
    text-decoration: none;
    
}

h1, h2, h3{
    font-weight: $bold;
}

h1{
    font-size: $xxlg;
}
h2{
    font-size: $lg;
}
h3{
    font-size: $md;
}
nav ul li a {
    color: $mainColor !important;
    font-size: $lg;
    text-transform: uppercase; 
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}
p{
    font-size: $xsm;
}
.text-bold{
    font-weight: bold;
}
.text-lighter{
    font-weight: lighter;
}
.text-uppercase{
    text-transform: uppercase;
}

.footer{
    font-size: $lg;
    position: fixed;
    bottom: 0;
    left: -16px;
    width: 100vw;
    @include flex(row,space-between,end);
    

    h2{
        margin-right: 16px;
    }
   
 }

a{
    &:active{
        color: $secondaryColor;
        background-color: $mainColor;
    }  
    &:hover{
        color: $secondaryColor;
        background-color: $mainColor;
    } 

}
    