//font
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
//vars
$mainFont:'Space Grotesk', sans-serif;
//wights
$light:300;
$regular:400;
$bold:600;
//colors
$mainColor: blue;
$secondaryColor: white;


h1,
h2,
h3,
p,
nav,
ul,
li,
a{
    font-family: $mainFont;
}