.container-bio{
    @include flex(row,space-between ,flex-start );

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    width: 100vw;

    h3{
        padding-bottom: $xsm;  
    }
}

.main-text{
    width: 50vw;
    padding-left: 24px;

    p{
        width: 50vw;
        font-size: $lg;
        padding-bottom: 16px;
        padding-right: 32px;  
    }

}

.small-text {
    p{
        padding-bottom: 24px;
    }
}


