.container-proyect-list{
    @include flex(row,space-between ,flex-start);

    padding-top: 0px;
    padding-bottom: 0px;
    height: 100vh;
}

.item-proyect-list{
    @include flex(column,space-between,flex-start);

    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
    border: 4px; 
    border-bottom: 2px solid $mainColor;
    border-color: $mainColor;

    img{
        width: 4vw;  
    }

    h2{
        width: 50vw;
        font-weight: bold;
        &:hover{
            color: $secondaryColor;
            background-color: $mainColor;
        }
    }

    p{
        padding-left: 50%;
        width: 46vw;
    }
}

.project-title{
    width: 50vw;
}
