// nav- menu - nesting/anidación
.menu{
    list-style: none;
    text-decoration: none;
    width: 100vw;
    padding-top: 1px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    ul{
        @include flex(row,space-between ,flex-start);

        list-style: none;
        text-decoration: none;
        margin-left: 16px;

    }

    li{
        list-style: none;
        text-decoration: none;
        text-decoration: none;
        font-size: $lg;
    }

    a{
        list-style: none;
        text-decoration: none;
        text-decoration: none;
        font-size: $lg;
        &:hover{
            color: $secondaryColor;
            background-color: $mainColor;
        }
        &:active{
            color: $secondaryColor;
            background-color: $mainColor;
        }
    }

    .navbar ul li a{
    color: $mainColor;  
    }

}
