.menu{
    list-style: none;
    text-decoration: none;
    width: 100vw;
    padding-top: 1px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0 !important;
    width: 100%;
    margin-left: -24px !important;
    margin-right: -24px !important;
    
    

    ul{
        list-style: none;
        text-decoration: none;
        @include flex(row,space-between ,flex-start);
    

    }

    li a {
        font-size: $lg;
        list-style: none;
        text-decoration: none;
        padding-left: 0.001em;
        &:hover{
            color: $secondaryColor !important;
            background-color: $mainColor;
        }
        &:active{
            color: $secondaryColor !important;
            background-color: $mainColor;
        }
    }

    .menu ul li a{
    color: $mainColor;  
    }

    h1 h2 h3 p {
        color: $mainColor;
    }

}


